<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <title>Home</title>
</head>
<body>

    <div class="container">
        
        {{>navbar}}
        <h2>Welcome To Firebase App</h2>
        
    </div>

    
</body>
</html>